@model loganta.Data.Entities.Requerimiento
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "RegistrarCostoRequerimiento";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>RegistrarCostoRequerimiento</h1>

<h4>Requerimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarCostoRequerimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CuadroDeNecesidadesId" class="control-label">Elegir Requerimiento:</label>
                <select asp-for="CuadroDeNecesidadesId" class="form-control" asp-items="ViewBag.Requerimientos"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mes" class="control-label">Costo:</label>
                <input asp-for="Mes" class="form-control" />
                <span asp-validation-for="Mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="https://localhost:44362">Cancelar</a>
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
