@model loganta.Areas.CUS01.Models.RegistrarPresupuesto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "RegistrarPresupuesto";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Registrar Presupuesto de Área</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarPresupuesto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.AreasUsuarias"></select>
            </div> 
            <div class="form-group">
                <label asp-for="Presupuesto" class="control-label"></label>
                <input asp-for="Presupuesto" class="form-control" />
                <span asp-validation-for="Presupuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="https://localhost:44362">Cancelar</a>
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
